.App {
  text-align: center;
}

button {
  background-color: #e88463;
  color: #fff;
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  margin: 20px;
}

button:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.ScoreTable {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  background-color: #552e23;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.ScoreTable th {
  background-color: #e5714e;
}

.ScoreTable td {
  padding: 10px;
  border: 1px solid #fff;
}

.Points {
  font-size: 0.8em;
  color: gray;
}

.Game {
  max-height: 100vh;
  overflow-y: auto;
  padding-right: 40vw;
  padding-left: 40vw;
}